@(form:  play.data.Form[forms.Login], message : String)
@import views.form.HorizontalForm._

@skel {
     <h3 style="color:RED"> @message  </h3>
    @helper.form(action =  routes.Application.login()) {

        @if(form.hasGlobalErrors) {
            <div class="form-group has-error">
                <div class="controls">
                    @for(error <- form.globalErrors) {
                        <div class="help-block">@error.message</div>
                    }
                </div>
            </div>
        }

        @helper.inputText(form("name"), 'placeholder -> "Clint Eastwood", '_label -> "Login", 'class -> "form-control")

        @helper.inputPassword(form("password"), 'placeholder -> "********", '_label -> "Password", 'class -> "form-control")

        <button type="submit" class="btn">Sign in</button>
    }

}